{% extends 'base.html.twig' %}
{% block title %}Tennis_ads{% endblock %}
{% block body %}

    <a href="{{ path('ads') }}">retour vers annonces</a>
    <h1>Annonce : {{  ad.title  }}</h1>
        <img src="{{ asset('upload_directory/' ~ ad.media.name) }}" id="adImg">
    <div class="adData">
        <h4>Type annonce : {{ ad.adType.name }}</h4>
        <span>Catégorie : {{ ad.materialType.name }}</span>
        <span>Marque : {{ ad.brand.name }}</span>
        <span>Ajoutée le : {{ ad.date | format_date('short', locale='fr') }}</span>
        <span>Ville : {{ ad.city }}</span>
        <span>Auteur : {{ ad.author.firstname }}</span>
    </div>

{% endblock %}