{% extends 'base.html.twig' %}
{% block title %}Tennis_ads
{% endblock %}
{% block body %}
	{% include 'commons/_header.html.twig' %}
	<section class="adsSection">
		<div class="selectContainer">
			<h1>LE COIN DES BONNES AFFAIRES</h1>

			<form action="{{ path('adsByTypes') }}" method="GET">
				<input type="text" name="title" id="title" value="" placeholder="titre">
				<div class="select">
					<select name="adType" id="adType">
						<option value="">choisir un type d'annonce</option>
						{% if adTypes is defined %}
							{% for adType in adTypes %}
								<option value="{{ adType.name }}">{{ adType.name }}</option>
							{% endfor %}
						{% else %}
							No adtypes found.
						{% endif %}
					</select>
					<select name="brand" id="brand">
						<option value="">choisir une marque</option>
						{% if brands is defined %}
							{% for brand in brands %}
								<option value="{{ brand.name }}">{{ brand.name }}</option>
							{% endfor %}
						{% else %}
							No brands found.
						{% endif %}
					</select>
					<select name="materialType" id="materialType">
						<option value="">choisir un type de matériel</option>
						{% if materialTypes is defined %}
							{% for materialType in materialTypes %}
								<option value="{{ materialType.name }}">{{ materialType.name }}</option>
							{% endfor %}
						{% else %}
							No materialTypes found.
						{% endif %}
					</select>
				</div>
				<input type="submit" id="submitSelect" value="rechercher">
			</form>
		</div>
		<div class="ads">
			{% for ad in ads %}
				<div class="adsContainer">
					<div class="adsData">
						<h4>Titre :
							{{ ad.title }}</h4>
						<h5>Type annonce :
							{{ ad.adType.name }}</h5>
						<span>Catégorie :
							{{ ad.materialType.name }}</span>
						<span>Marque :
							{{ ad.brand.name }}</span>
						<span>Ajoutée le :
							{{ ad.date | format_date('short', locale='fr') }}</span>
						<span>Ville :
							{{ ad.city }}</span>
						<span>Auteur :
							{{ ad.author.firstname }}</span>
					</div>
					<div class="adsMedia">
						<div class=" adsImg">
							{% if ad.media %}
								<img src="{{ asset('upload_directory/' ~ ad.media.name) }}" alt="{{ ad.media.alt }}">
							{% endif %}
						</div>
						{% if ad.adType.name == 'Vente' %}
							<h4>Prix :
								{{ ad.price }}</h4>
						{% endif %}
						<a href="{{ path('ad', {'id' : ad.id}) }}">Voir annonce</a>
						{% if ad.author.id == app.user.id %}
							<a href="{{ path('adUpdate', {'id' : ad.id}) }}">Modifier annonce</a>
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</div>

</section>
{% include 'commons/_footer.html.twig' %}{% endblock %}
