<header>
	<label for="toggle"><img src="{{asset('assets/icons/menuBurger.svg')}}" alt=""></label>
	<input type="checkbox" id="toggle">
	<div class="nav" id="nav">
		<div class="logoType">
			<a href="{{ path('ads') }}">
				<img src="{{asset('assets/img/logo_tennisunivers.png')}}" alt="photo du logo">
			</a>
		</div>
		<img id="upPage" src="{{asset('assets/icons/upPage.svg')}}" alt="flèche top page">
		<div class="linkNav">
			<a href="{{ path('addAd') }}">
				<button>Créer une annonce</button>
			</a>
			<a href="{{ path('profile') }}">
				<button>Profil</button>
			</a>
			<a href="{{ path('app_logout') }}">
				<button>Déconnexion</button>
			</a>
		</div>
	</div>
</header>
